# Multiple Linear Regression- Car dataset

## Importing the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [3]:
dataset=pd.read_csv('CAR.csv')

In [4]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

In [6]:
dataset.describe()

              year  selling_price      km_driven
count  4337.000000   4.337000e+03    4337.000000
mean   2013.094766   5.042743e+05   66223.535624
std       4.208750   5.787121e+05   46657.695779
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.100000e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [7]:
dataset.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

### Split the dataset into independent and Dependent variables

In [8]:
dataset.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [9]:
X=dataset[['year','km_driven', 'fuel', 'seller_type',
       'transmission','owner']]
Y=dataset[['selling_price']]

### Work with the catagorical data

In [10]:
X=pd.get_dummies(dataset[['year','km_driven', 'fuel', 'seller_type',
       'transmission','owner']],drop_first=True)

In [11]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,
                                               test_size=.10,
                                              random_state=20)

## Training the Multiple Linear Regression model on the Training set

In [13]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression() 
regressor.fit(X_train.values,Y_train)

LinearRegression()

## Intercept and Coefficient

In [14]:
print("Intercept: ", regressor.intercept_)
print("Coefficients:")
list(zip(X, regressor.coef_))

Intercept:  [-72051850.73685972]
Coefficients:

[('year',
  array([ 3.64221128e+04, -9.56227391e-01,  2.87855640e+05, -6.03437311e+05,
          5.03964944e+04, -2.48512771e+03, -5.98400794e+04,  1.59131973e+05,
         -8.80142541e+05,  6.64418352e+02, -3.81841591e+04,  1.72448130e+05,
         -2.81224681e+04]))]

## Predicting the Test set results

In [15]:
Y_pred_regressor= regressor.predict(X_test.values)
#Predicted values
print("Prediction for test set: {}".format(Y_pred_regressor))

Prediction for test set: [[ 4.72692606e+05]
 [ 5.18112639e+05]
 [ 4.03974127e+05]
 [ 1.40174289e+06]
 [ 1.43603326e+05]
 [ 2.73821195e+05]
 [ 7.21174734e+05]
 [ 7.34074199e+05]
 [ 6.55931518e+05]
 [ 4.21271692e+05]
 [ 8.13143507e+05]
 [-9.99622074e+04]
 [ 1.36366005e+06]
 [ 5.85553341e+05]
 [ 6.26251806e+05]
 [ 1.63227291e+05]
 [ 2.26735737e+05]
 [ 1.45430308e+05]
 [ 4.62630915e+05]
 [ 6.71748475e+05]
 [ 4.91252800e+05]
 [ 4.21271692e+05]
 [ 4.55395041e+05]
 [ 3.31129902e+05]
 [ 6.65628073e+05]
 [ 6.47592994e+05]
 [ 3.84849579e+05]
 [ 4.91117343e+05]
 [ 9.89650153e+05]
 [ 6.56065799e+05]
 [ 3.89721753e+05]
 [ 2.76539468e+05]
 [ 4.72420253e+05]
 [ 7.28910025e+05]
 [ 5.50151584e+05]
 [ 1.07181213e+05]
 [ 1.72225211e+05]
 [ 7.48034573e+05]
 [ 4.28141793e+05]
 [ 7.50415537e+05]
 [ 5.35410204e+05]
 [ 6.89533758e+05]
 [ 1.47148244e+06]
 [ 5.33326806e+05]
 [ 4.40095403e+05]
 [ 4.91630273e+05]
 [ 2.39894298e+04]
 [ 8.35228493e+05]
 [ 6.96319286e+04]
 [ 5.29248175e+04]
 [ 7.19123715e+04]
 [ 7.22130961e+05]
 [ 5.91521219e+05]
 [ 3.89781125e+05]
 [ 7.38350490e+05]
 [ 3.57989741e+05]
 [-9.17274991e+04]
 [ 6.82840166e+05]
 [ 7.76721395e+05]
 [ 2.71366458e+05]
 [ 7.94018960e+05]
 [-6.15421678e+04]
 [ 2.94707789e+05]
 [ 9.68203188e+05]
 [ 4.32323639e+05]
 [ 2.99128307e+04]
 [ 5.69221039e+05]
 [ 7.57596847e+05]
 [-1.15505964e+05]
 [ 3.91686931e+05]
 [ 2.91554486e+05]
 [ 6.70474147e+05]
 [ 2.42986038e+05]
 [ 2.39161128e+05]
 [ 4.62565979e+05]
 [ 4.45268414e+05]
 [ 6.03387821e+05]
 [ 4.59520788e+05]
 [ 4.51539224e+05]
 [ 6.44676543e+05]
 [ 7.57596847e+05]
 [ 2.43307390e+05]
 [ 7.49001531e+04]
 [ 1.42101798e+06]
 [ 8.27955428e+05]
 [ 1.45590168e+06]
 [ 2.87057970e+05]
 [ 5.37237187e+05]
 [ 4.21271692e+05]
 [ 5.81459528e+05]
 [ 7.96314452e+05]
 [ 1.59175500e+06]
 [ 1.72626629e+06]
 [ 3.10178371e+05]
 [ 3.65789968e+05]
 [ 4.93159690e+05]
 [ 1.90302193e+05]
 [ 1.42158211e+06]
 [ 4.00443693e+05]
 [ 4.82101467e+05]
 [-9.17274991e+04]
 [ 6.11230669e+05]
 [ 3.68275096e+05]
 [ 6.08254430e+05]
 [ 5.87046483e+05]
 [ 8.22705781e+05]
 [ 7.38472299e+05]
 [ 1.70394221e+04]
 [ 4.72193189e+05]
 [ 3.61099868e+05]
 [ 4.70965688e+05]
 [-7.99343395e+03]
 [ 4.72037216e+05]
 [ 5.11016801e+05]
 [ 6.08818784e+05]
 [ 2.02739015e+05]
 [ 4.80155544e+05]
 [ 1.72290147e+05]
 [ 5.06723383e+05]
 [ 6.51349599e+05]
 [ 6.00047182e+04]
 [ 5.51645534e+05]
 [ 7.59892339e+05]
 [-9.82041676e+03]
 [ 4.29651221e+05]
 [ 5.86000609e+05]
 [ 3.77544416e+04]
 [ 4.21271692e+05]
 [ 4.89170008e+05]
 [ 4.03400937e+05]
 [ 1.53238343e+06]
 [ 3.08563481e+05]
 [ 2.91118760e+05]
 [ 1.81344083e+06]
 [ 7.21174734e+05]
 [ 1.66316903e+05]
 [ 1.66976340e+06]
 [ 4.40396240e+05]
 [ 6.54153345e+05]
 [ 5.45037415e+05]
 [ 6.31118415e+05]
 [ 1.39901573e+06]
 [ 9.94459217e+04]
 [ 2.39161128e+05]
 [ 5.64097026e+05]
 [ 4.24381820e+05]
 [ 6.59053968e+05]
 [ 5.00724038e+05]
 [ 7.46514760e+05]
 [ 2.61395803e+05]
 [-2.00993838e+05]
 [ 4.54739651e+05]
 [ 6.29205961e+05]
 [-3.28057158e+05]
 [ 4.74905898e+05]
 [ 1.36174203e+06]
 [ 2.44898493e+05]
 [ 5.39064170e+05]
 [ 5.73665644e+05]
 [ 7.11124742e+05]
 [ 5.55782980e+05]
 [ 3.82550816e+05]
 [ 4.64392961e+05]
 [ 7.50415537e+05]
 [ 7.35518145e+05]
 [ 3.62770877e+05]
 [ 3.19805581e+05]
 [ 6.17881640e+05]
 [ 3.90757888e+05]
 [ 2.87441007e+05]
 [ 7.41363521e+05]
 [ 5.08615302e+05]
 [ 1.02335139e+05]
 [ 2.69177064e+05]
 [ 2.39161128e+05]
 [ 2.85101094e+05]
 [ 6.72704156e+05]
 [ 7.48034573e+05]
 [ 3.80224416e+05]
 [ 5.77297550e+05]
 [ 5.73568263e+05]
 [ 5.83785928e+05]
 [-8.09025961e+04]
 [ 1.31605294e+05]
 [ 4.60718460e+05]
 [ 7.46505155e+05]
 [ 5.55979244e+05]
 [ 5.74765936e+05]
 [ 4.53295705e+05]
 [ 5.51479957e+05]
 [ 4.26977459e+05]
 [-3.75868528e+05]
 [ 5.73568263e+05]
 [ 4.95334126e+05]
 [ 8.09575241e+05]
 [-8.28410801e+03]
 [ 1.81344083e+06]
 [ 2.89926652e+05]
 [ 3.64688897e+05]
 [ 3.61099868e+05]
 [ 1.42062588e+06]
 [ 5.23764532e+05]
 [ 3.00440372e+05]
 [ 1.42445079e+06]
 [ 2.12769798e+05]
 [ 3.75287306e+05]
 [ 1.79488721e+05]
 [ 1.37308687e+06]
 [ 5.16733630e+05]
 [ 2.21863563e+05]
 [ 5.19244224e+05]
 [ 4.26708220e+05]
 [-5.22157743e+04]
 [ 1.62817711e+06]
 [ 1.68227983e+06]
 [ 2.83383469e+05]
 [ 4.62565979e+05]
 [ 4.36270493e+05]
 [ 5.81459528e+05]
 [ 7.72205090e+05]
 [ 2.92880806e+05]
 [ 1.28132743e+05]
 [ 5.22802740e+05]
 [ 2.88255642e+05]
 [-2.58142858e+02]
 [ 3.93240261e+05]
 [ 3.57273484e+05]
 [ 6.36941252e+05]
 [ 1.56754629e+05]
 [ 6.95739632e+05]
 [ 6.37006188e+05]
 [ 5.18177576e+05]
 [ 4.60803932e+05]
 [ 1.88664050e+04]
 [ 1.04031983e+06]
 [ 5.37237187e+05]
 [ 1.21438257e+06]
 [ 4.31088869e+05]
 [ 3.95061679e+05]
 [ 6.33425382e+05]
 [-3.66802557e+04]
 [ 1.47192355e+05]
 [ 7.19123715e+04]
 [ 5.70505641e+04]
 [ 2.46896419e+05]
 [ 6.54450910e+05]
 [ 8.20151656e+05]
 [ 2.15302477e+05]
 [-7.13403222e+04]
 [ 5.09520261e+05]
 [ 4.53068641e+05]
 [ 6.46355950e+05]
 [ 6.84179431e+05]
 [ 1.48535734e+06]
 [ 5.10377348e+05]
 [ 4.72792671e+05]
 [ 1.24028662e+06]
 [ 3.84764107e+05]
 [ 4.57758742e+05]
 [ 6.92487912e+05]
 [ 2.15910834e+05]
 [ 6.46418054e+05]
 [ 1.41127285e+05]
 [ 4.53068641e+05]
 [ 7.77189904e+05]
 [ 4.51174691e+04]
 [ 1.65054273e+05]
 [ 4.08755264e+05]
 [ 1.33966333e+06]
 [ 6.44839962e+05]
 [ 1.93658221e+04]
 [ 4.16490555e+05]
 [ 9.30413105e+03]
 [ 1.38693086e+06]
 [ 2.65367596e+04]
 [ 9.33924615e+05]
 [ 2.72629087e+05]
 [ 3.10742725e+05]
 [ 2.97726879e+05]
 [ 4.40552213e+05]
 [ 5.16350593e+05]
 [ 4.86380627e+05]
 [ 2.08712260e+05]
 [ 4.97226045e+05]
 [-1.14833308e+05]
 [ 4.08755264e+05]
 [ 5.30452559e+05]
 [ 4.99767810e+05]
 [ 5.29501896e+05]
 [-2.89449646e+04]
 [ 2.92880806e+05]
 [ 5.90956865e+05]
 [ 6.16689533e+05]
 [ 4.81527085e+04]
 [ 3.63962985e+05]
 [ 7.71940258e+05]
 [ 7.10566652e+04]
 [ 5.95086401e+05]
 [ 3.63962985e+05]
 [ 2.80520351e+05]
 [ 1.36174203e+06]
 [ 6.46503526e+05]
 [ 8.83502088e+05]
 [ 5.65924009e+05]
 [ 7.25955871e+05]
 [ 7.43741700e+05]
 [ 7.71940258e+05]
 [ 1.66164507e+06]
 [ 2.27948380e+05]
 [ 6.13906322e+05]
 [ 4.63602113e+05]
 [ 3.77544416e+04]
 [ 7.67159121e+05]
 [ 7.76721395e+05]
 [ 1.43603326e+05]
 [ 4.99552445e+05]
 [ 2.73041476e+05]
 [ 5.15535958e+05]
 [ 4.72037216e+05]
 [ 4.62565979e+05]
 [ 3.07879607e+05]
 [ 4.17663484e+05]
 [ 4.45268414e+05]
 [ 5.93460561e+04]
 [ 5.16350593e+05]
 [ 5.03678192e+05]
 [ 6.92487912e+05]
 [-1.57335851e+05]
 [ 5.27583877e+05]
 [ 6.73363364e+05]
 [ 6.84752621e+05]
 [ 1.62727873e+05]
 [ 4.71479195e+05]
 [ 1.30141423e+06]
 [ 3.51537594e+05]
 [ 3.57989741e+05]
 [ 3.03107498e+05]
 [ 5.11145918e+05]
 [ 2.61395803e+05]
 [ 6.73428301e+05]
 [ 1.32961334e+06]
 [ 7.55684392e+05]
 [ 2.95176298e+05]
 [ 6.29205961e+05]
 [ 1.34062512e+06]
 [ 5.34277468e+05]
 [ 4.19600683e+05]
 [ 8.98836478e+04]
 [ 2.26644700e+05]
 [-8.98004516e+04]
 [ 6.96377758e+05]
 [ 1.39912037e+06]
 [ 5.34615350e+04]
 [ 3.70662142e+05]
 [ 1.43603326e+05]
 [ 4.64301925e+05]
 [ 1.65054273e+05]
 [ 5.51381093e+04]
 [ 1.26882718e+06]
 [ 4.15318963e+05]
 [ 3.92197794e+05]
 [ 1.70394221e+04]
 [ 1.93176741e+05]
 [ 4.73084480e+05]
 [ 3.61639700e+04]
 [ 8.80132631e+05]
 [ 1.78238352e+06]
 [ 3.21567628e+05]
 [ 5.18177576e+05]
 [ 5.05661148e+05]
 [ 4.63814207e+05]
 [ 8.09671820e+05]
 [ 8.17924644e+05]
 [ 2.89438934e+05]
 [ 3.53299640e+05]
 [ 6.75190347e+05]
 [ 1.39901573e+06]
 [ 1.71479156e+06]
 [ 4.62565979e+05]
 [ 4.72193189e+05]
 [-7.83760048e+04]
 [-1.91930981e+05]
 [ 4.43743036e+05]
 [ 5.73568263e+05]
 [-2.71179818e+04]
 [ 4.72037216e+05]
 [ 1.81852421e+05]
 [ 5.59094591e+05]
 [ 4.21271692e+05]
 [ 1.31721773e+05]
 [ 2.68466868e+05]
 [ 5.46799461e+05]
 [-6.29406127e+04]
 [ 2.83156152e+05]
 [ 4.22489900e+05]
 [ 8.31780337e+05]
 [ 6.12936666e+05]
 [-7.99343395e+03]
 [ 5.37901605e+05]
 [ 3.72424188e+05]
 [ 4.96033937e+05]
 [ 4.62630915e+05]
 [ 6.34435071e+05]
 [ 3.92033127e+05]
 [ 1.66316903e+05]
 [ 1.47192355e+05]
 [ 1.32913880e+05]
 [ 7.37562885e+05]
 [ 4.95334126e+05]
 [ 4.91252800e+05]
 [ 4.81066461e+05]
 [ 5.10377348e+05]
 [ 1.33488219e+06]
 [-1.82368707e+05]
 [ 1.33321118e+06]
 [ 3.86676562e+05]
 [ 2.26009825e+05]
 [ 4.95942901e+05]
 [ 4.57262439e+04]
 [ 6.63801091e+05]
 [ 2.24973690e+05]
 [ 8.24618236e+05]
 [ 3.61599285e+05]
 [ 1.02547233e+05]
 [ 6.81858761e+05]
 [ 6.58063726e+05]
 [ 2.85145515e+05]
 [ 3.29302919e+05]
 [ 5.87429521e+05]
 [ 4.86380627e+05]
 [ 4.65429096e+05]
 [-8.11996151e+04]
 [ 7.76721395e+05]
 [ 1.17846871e+05]]

### Calculate RMSE, R-Square

In [16]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"RMSE : {math.sqrt(mean_squared_error(Y_test,Y_pred_regressor))}")
print(f'R- Sqaure : {r2_score(Y_test,Y_pred_regressor)}')

RMSE : 330481.49035666464
R- Sqaure : 0.5209839170703832

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [17]:
X_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
406,2012,80000,1,0,0,0,1,0,1,0,0,0,1
3027,2013,100000,1,0,0,0,1,0,1,0,0,0,0
2277,2016,30000,0,0,0,1,1,0,1,0,0,0,0
799,2017,7658,0,0,0,1,0,0,0,0,0,0,0
2738,2012,110000,0,0,0,1,1,0,1,0,1,0,0

In [18]:
regressor.predict([[2014,70000,1,0,0,0,0,0,1,0,0,0,0]])

array([[643061.65324564]])